/* Geral */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Containers */
.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 0 auto;
  margin-top: 55px;
}

/* Operação */
.inputCalc {
  min-height: 118px;
  color: #f7f7f7;
  width: 100%;
  text-align: right;
  background: #141414;
  border-radius: 15px 15px 0px 0px;
  transition: 0.2s ease-in-out;
}
.inputCalc div {
  margin: 30px 30px 15px 30px;
  word-wrap: break-word;
  word-break: break-all;
}
.inputCalc p {
  font-size: 1.05rem;
  margin-bottom: 5px;
}
.inputCalc h1 {
  font-size: 2.5rem;
}

/* Operações e Numeros */
.btnsCalc {
  width: 100%;
  background: #4d4d4d;
  border-radius: 0px 0px 15px 15px;
  transition: 0.2s ease-in-out;
}
.btnsCalc div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 15px;
  gap: 4px;
}
.btnsCalc button.funcoes {
  background: #9a9a9a;
}
.btnsCalc button:nth-child(16) {
  grid-area: 4 / 4 / 6 / 4;
  height: 100% !important;
}
.btnsCalc button {
  width: 100%;
  max-width: 74px;
  height: 55px;
  display: block;
  font-size: 24px;
  border: none;
  color: black;
  background: #ddd;
  cursor: pointer;
}
.btnsCalc button:hover {
  background: #cccbcb;
  border: 2px solid #f7f7f7;
  border-radius: 4px;
}
.igual {
  background: #fec63e !important;
}
.igual:hover {
  background: #ffc94b !important;
}
.dot {
  color: #f7f7f7 !important;
}
.btnsCalc button img {
  width: 20px;
}
