.container {
  position: relative;
  margin-top: 50vh;
}
.player {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #fec63e;
  margin-left: 45vh;
  bottom: 0;
}
.scoreBoard {
  position: absolute;
  top: 0;
  z-index: 2000;
}

.rotateOne {
  transform: rotate(45deg);
}
.rotateTwo {
  transform: rotate(135deg);
}
.rotateThree {
  transform: rotate(170deg);
}
.rotateFour {
  transform: rotate(360deg);
}

.scoreBoard div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  width: 100%;
  background-color: #e4e3e3;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 0 0 5px;
  padding: 10px 20px;
}
.rot {
  transition: 5s;
}
.pulo {
  animation: jump 0.5s linear;
}
.block {
  display: block;
  width: 50px;
  height: 70px;
  background-color: #141414;
  position: absolute;
  bottom: 0;
  animation: animBlock 1.5s linear infinite;
}
.floor {
  padding-bottom: 300vh;
  padding: 300vw 0;
  background-color: #141414;
  width: 300vw;
  position: absolute;
  left: -200px;
}

@keyframes animBlock {
  from {
    right: -51px;
  }
  to {
    right: 100%;
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }
  50% {
    transform: rotate(180deg);
    bottom: 150px;
  }
  100% {
    transform: rotate(360deg);
    bottom: 0;
  }
}
