* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  overflow: hidden;
  background: #eee;
  font-family: Arial, Helvetica, sans-serif;
}

/* Menu */
.menu {
  margin: 35vh auto;
  font-size: 1.5rem;
  text-align: center;
}
.menu ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.menu ul li a {
  position: relative;
  display: inline-block;
  color: #141414;
}
.menu ul li a:before {
  content: "";
  transition: 0.3s ease-in-out;
  display: block;
  width: 0;
  height: 10px;
  background-color: #fec63e;
  position: absolute;
  z-index: -1;
  bottom: 15px;
  left: 5px;
}
.menu ul li a:hover::before {
  width: 100%;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10vh;
}
.footer div h3 {
  color: #141414;
  margin-top: 10px;
  margin-left: 35px;
}
.madeBy {
  text-align: center;
  margin-right: 35px;
  color: #919090;
}
.madeBy a {
  text-decoration: underline;
  color: #6e6d6d;
  transition: 0.2s;
}
.madeBy a:hover {
  text-decoration: none;
  color: #141414;
}
